<h1><%= @note.id %> :: <%= @note.title %></h1>
<p><%= @note.content %></p>
<a href='/notes'>목록</a>
<a href='/notes/<%= @note.id %>'
  data-confirm='삭제하시겠습니까?'
  data-method='delete'>삭제</a>
<a href='/notes/<%= @note.id %>/edit'>수정</a>